defaults:
    create_build_dir: &create_build_dir
        run:
            name: "create buikld directory"
            command: |
                mkdir build
                cd build
                git clone https://github.com/ewasm/tests

    build_c_example: &build_c_example
        run:
            name: "Build C Example"
            command: |
                docker run -v $(pwd)/src/C:/C -t jwasinger/clang-7 bash -c "cd /C && make"
                cp src/C/wrc20.wasm build/wasm/c.wasm

    chisel: &chisel
        run:
            name: "chisel contracts"
            command: |
                docker run -v $(pwd)/build:/build -v $(pwd)/chisel/chisel.yml:/chisel.yml -t jwasinger/wasm-chisel chisel run

    testgen: &testgen
        run:
            name: "generate test fillers from matrix"
            command: |
                bash gen_tests.sh

    run_tests: &run_tests
        run:
            name: "run tests"
            command: |
                bash run_tests.sh

version: 2
jobs:
    build:
        machine: true
        steps:
            - *create_build_dir
            - *build_c_example
            - *chisel
            - *testgen
            - *run_tests
